.showtimes {
    .nav-tabs {
        border: white;
        .nav-link {
            position: relative;
            color: #fff;
            background-color: none;
            padding: 10px 20px 15px;
            letter-spacing: 1px;
            border: none;
            font-size: 22px;
            font-weight: bold;
            &::after {
                content: '';
                width: 0;
                height: 3px;
                background: linear-gradient(to right, #fbbd61, #ec7532);
                position: absolute;
                left: 0;
                bottom: -1px;
                transition: all 0.5s;
            }
        }
        .active {
            color: #fbbd61;
            background-color: #000;
            transition: all 0.5s;
            &::after {
                width: 100%;
            }
        }
    }
}