<section class="showtimes">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item ">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#phimsapchieu" role="tab" aria-controls="home" aria-selected="true">Phim Sắp Chiếu</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#phimdangchieu" role="tab" aria-controls="profile" aria-selected="false">Phim Đang Chiếu</a>
        </li>
    </ul>

    <div class="tab-content mt-5" id="myTabContent">
        <div class="tab-pane fade show active " id="phimsapchieu" role="tabpanel" aria-labelledby="home-tab">

            <app-phim-sap-chieu></app-phim-sap-chieu>

        </div>
        <div class="tab-pane fade" id="phimdangchieu" role="tabpanel" aria-labelledby="profile-tab">
            <app-phim-dang-chieu></app-phim-dang-chieu>
        </div>
    </div>

</section>