@import'../../../../sass/Helpers/variables';
@import'../../../../sass/Helpers/mixin';
@import'../../../../sass/Components/button';
.showing-detail {
    border: 1px solid #ebebec;
    background-color: #fff;
    border-radius: 5px;
    .nav-parent {
        border-right: 1px solid #ebebec;
        text-align: center;
        min-height: 600px;
        ;
        .nav-pills {
            img {
                width: 45px;
                height: 45px;
                background-color: white;
            }
        }
    }
    .content-parent {
        .tab-content {
            .nav-child {
                border-right: 1px solid #ebebec;
                text-align: center;
                min-height: 600px;
                ;
                span {
                    color: #949494;
                    font-size: 10px;
                }
            }
            .content-child {
                margin-top: 10px;
                .phim {
                    margin: 10px 0;
                    text-align: center;
                    p {
                        font-size: 22px;
                        font-weight: 500;
                        color: #000;
                        letter-spacing: 2px;
                        &::before {
                            background-color: #fb4226;
                            content: 'P';
                            color: #fff;
                            border-radius: 4px;
                            padding: 0 5px;
                            margin: 0 5px;
                            font-size: 15px;
                            vertical-align: 2px;
                            min-width: 30px;
                            text-align: center;
                        }
                    }
                }
                button {
                    @extend .btn-anima;
                }
            }
        }
    }
    .nav-link {
        opacity: 0.5;
        color: #000;
        font-size: 15px;
        border-bottom: 1px solid #ebebec;
    }
    .nav-link.active,
    .nav-link.show {
        background-color: white;
        opacity: 1;
        color: #fa4226;
        font-size: 15px;
        font-weight: 500;
    }
    @include mediaQuery('small') {
        .btn-anima {
            padding: 5px;
            font-size: 13px;
        }
    }
}

//btn
// button