<section class="HomeApp">
    <div class="container-fluid">
            <div class="mainMaxWidth">
                <div class="row w-100">
                    <div class="col-md-6 left pl-md-5 pl-lg-0  text-center text-md-left">
                        <p class="textLeft">Ứng dụng tiện lợi dành cho</p>
                        <p class="textLeft">người yêu điện ảnh</p>
                        <br>
                        <p class="textSmallLeft">Không chỉ đặt vé, bạn còn có thể bình luận phim, chấm điểm rạp và đổi quà hấp dẫn.</p>
                        <br>
                        <button class="buttonLeft">App miễn phí - Tải về ngay!</button>
                        <p class="textAppUnder">TIX có hai phiên bản
                            <a class="tagA" target="_blank" href="https://itunes.apple.com/us/app/123phim-mua-ve-lien-tay-chon/id615186197?mt=8">iOS</a>
                            &amp;&nbsp;<a class="tagA" target="_blank" href="https://play.google.com/store/apps/details?id=vn.com.vng.phim123">Android</a>
                        </p>
                    </div>
                    <div class="col-md-6 right">
                        <img class="img-responsive phone-img" src="https://tix.vn/app/assets/img/icons/mobile.png" alt="Loading...">
                        <div id="sliderScreen">
                            <img src="https://tix.vn/app/assets/img/icons/slide/slide2.jpg"  alt="">
                         </div>
                    </div>
                </div>
               
            </div>

    </div>
</section>

