<div class="card">
    <div class="header-card">
        <img class="card-img-top" [src]="phimItem.hinhAnh" style="height:320px" alt="">
        <div class="icon-play">
            <a href="#ex" rel="modal:open" id="fade"><i class="fa fa-play"></i></a>
        </div>
        <!-- Modal HTML embedded directly into document -->
        <!-- <div id="ex" class="modal">
            <iframe [src]="phimItem.trailer | safe"></iframe>
        </div> -->

    </div>
    <div class="card-body">

        <div class="card-title">
            <p>{{phimItem.tenPhim | uppercase}}</p>

            <div class="start" style="color: #fbbd61;">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star "></i>
                <i class="fa fa-star "></i>
                <i class="fa fa-star "></i>
            </div>
            <button routerLink='/detail-films/{{phimItem.maPhim}}' type="submit">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        ĐẶT VÉ
            </button>
        </div>
    </div>
</div>